:root {
	--padding: 30px;
	--text-color: #9f9f9f;
}

body {
	font-family: helvetica;
	font-size: 12px;
	margin: 0 auto;
}

#svg-container {
	padding: var(--padding);
	height: calc(100vh - var(--padding) - var(--padding));
	text-align: center;
	display: grid;
	justify-items: center;
}

#dropTextDiv {
	padding: var(--padding);
	display: inline-block;
	font-size: 24px;
	color: var(--text-color);
	border: 2px solid var(--text-color);
	border-style: dashed;
	width: calc(100% - var(--padding) * 2)
}

svg {
	border: 1px solid rgb(224, 224, 224);
	display: block;
	margin: 0 var(--padding) 0 var(--padding);
}